[submodule "SkillXChange-Backend"]
	path = SkillXChange-Backend
	url = https://github.com/lakshya-26/SkillXChange-Backend.git
[submodule "SkillXChange-Frontend"]
	path = SkillXChange-Frontend
	url = https://github.com/lakshya-26/SkillXChange-Frontend.git
